.header-title {
  height: 40px ;
  width: 30% ;
  padding: 1rem 1rem ;
  margin-right: 5px;
  margin-left: 5px;
}

.header-button {
  margin-left: 5px;
  height: 43px;
  width: 17%;
  border-radius: 5px;
  background-color: #2D7DD2;
  color: whitesmoke;
}

.header-body {
  height: 40px ;
  width: 50% ;
  padding: 1rem 1rem ;
  margin-right: 5px;
}

.headerForm{
  width: 70%;
  margin: auto;
  margin-top: -55px;
  background: #fff;
  border-radius: 5px;
  padding: 2px;
}

.post {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

html {
  margin-bottom: 65px;
}

body {
  background-color: #474647;
}

.loading {
  color: white;
}

.textarea{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 150px;  
}

button{
  cursor: pointer;
}

.inputName{
  width: 300px;
}

.commentText{
  word-wrap: break-word;
}

.showMore{
  margin-right: 5px;
}

.signOut{
  margin-top: 15px; 
  height: 45px;
}

.inputDetail{
  width: 80%;
}

.buttonDetail{
  margin-top: 5px;
  margin-right: 5px;
}

.textareDetails{
  height: 347px;
}

.addressDetail{
  position: relative;
  z-index: 9999;
}
